.wrapper-card{
    background: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 24px 48px 0 rgba(0,0,0,.06);
}

.wrapper-card h3 {
    font-size: 22px;
    font-weight: 500;
}


.Card-Two{
    margin-top: 100px;
    box-shadow: 0 24px 48px 0 rgba(0,0,0,.06);
} 

.Card-One{
    margin-top: 200px;
    box-shadow: 0 24px 48px 0 rgba(0,0,0,.06);
} 

.Card-Third{
    margin-top: 0;
    box-shadow: 0 24px 48px 0 rgba(0,0,0,.06);
} 

.serv-icon {
    display: flex;
    border-radius: 50%;
    margin-bottom: 30px;
    background: #fbfaf9;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px){
    .Card-Two {
        margin-top: 0;
    }

    .Card-One {
        margin-top: 0;
    }
}

@media (max-width: 768px){
    .Card-Two {
        margin-top: 0;
    }

    .Card-One {
        margin-top: 0;
    }
}