h5 {
    font-size: 40px;
    font-weight: 700;
}

.section-Services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.section-Services .container .row {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.service-items {
    gap: 40px;
    align-items: flex-start;
}