h4 {
    font-weight: 500;
    font-size: 35px;
}

img {
    display: inline;
    position: relative;
    left: 5px;
}

.steps-ul {
    list-style: none;
    gap: 100px;
}

.steps-ul li {
    position: relative;
    background: url(../../asset/img/small-shape.svg) no-repeat;
}

.col {
    flex: 1 0 0%;
}

.step-number {
    color: #ffc629;
    font-size: 96px;
    font-weight: 700;
}

.steps-ul h4 {
    font-size: 20px;
    position: relative;
    margin-bottom: 40px;
}


.steps-ul p {
    font-size: 16px;
    line-height: 1.9;
    color: #aba2c9
}

.steps-ul h4 .line-shape {
    margin-top: 2px;
    background: #ffc629;
    height: 4px;
    width: 90px;
    border-radius: 10px;
} 

::after, :before {
    box-sizing: border-box;
}

img, svg {
    vertical-align: middle;
}

.steps-ul .right-arrow {
    position: absolute;
    right: -50px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -25px;
    display: inline-block;
    background-color: rgba(255,198,41,.1);
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
}