a {
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.Navbar-wrapper {
    margin:0 131.5px;
    padding:0 12px;
}

.Navbar-wrapper .Navbar {
    padding: 8px 0;
}

.Navbar-wrapper .Navbar a {
    font-size: 14px;
    font-weight: bold;
}

.Navbar-wrapper .Left-nav {
    padding: 8px 16px;
    position: relative;
    right: 150px;
}

@media (min-width: 1024px) {
    .Navbar-wrapper .Left-nav {
        right: 20px;
    }
}

@media (min-width: 768px) {
    .Navbar-wrapper .Left-nav {
        right: 30px;
    }
}

@media (min-width: 1280px) {
    .Navbar-wrapper .Left-nav {
        right: 0px;
    }
}


.Navbar-wrapper .Left-nav {
    padding: 8px 16px;
    position: relative;
    right: 150px;
}


.Navbar-wrapper .Right-nav .Right-li {
    padding: 10px 20px;
}

.Navbar-wrapper .Navbar::after{
    position: absolute;
    top: 0;
    right: -100px;
    bottom: 0;
    content: "";
    width: 65%;
    background-image: url(../../../asset/img/top-stroke.svg);
    background-position: bottom;
    background-size: cover;
}

.Navbar-wrapper .Navbar:before {
    position: absolute;
    left: -120px;
    bottom: 0;
    content: "";
    width: 400px;
    height: 330px;
    background-image: url(../../../asset/img/squadio-shape-2.svg);
    background-position: top;
    background-size: cover;
}