@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@200;@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/*.landing_wrapper .nav-banner-wrapper:before {
    position: absolute;
    left: -120px;
    bottom: 0;
    content: "";
    width: 400px;
    height: 330px;
    background-image: url(../src/asset/img/squadio-shape-2.svg);
    background-position: top;
    background-size: cover;
}*/