.services-items .col {
    margin-top: 200px;
} 

.services-items li {
    margin-top: 200px;
}


.services-items li div {
    background: #fff;
    list-style: none;
    box-shadow: 0 24px 48px 0 rgba(0,0,0,.06);
    border-radius: 15px;
    padding: 40px;
}

.services-items li h3 {
    font-size: 22px;
    font-weight: 500;
}

.serv-icon {
    display: flex;
    border-radius: 50%;
    margin-bottom: 30px;
    background: #fbfaf9;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
}